# https://editorconfig.org

root = true

[*]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,java,gradle}]
indent_style = space
indent_size = 4

[*.{sh,rb,js,yml,adoc}]
indent_style = space
indent_size = 2

[builds/android/**.xml]
indent_style = space
indent_size = 4

# do not mess with external sources
[src/external/*]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
