*         text=auto
*.cpp     text
*.h       text linguist-language=C++
*.md      text
*.cmake   text
*.py      text
*.rb      text
*.sh      text

# external sources
tests/doctest.h -diff linguist-vendored
src/external/* -diff linguist-vendored
src/midiprogram.h -diff linguist-vendored
src/midisequencer.* -diff linguist-vendored
src/midisynth.* -diff linguist-vendored
CMakePresets.json -diff linguist-generated
builds/android/app/src/main/java/org/libsdl/app/*.java -diff linguist-vendored
builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java diff
src/generated/* -diff linguist-generated

.gitattributes export-ignore
.gitignore export-ignore
/.github/ export-ignore
/.tx/ export-ignore
.editorconfig export-ignore
/builds/cmake/.git-hash export-subst

#TODO? .gitmodules export-ignore
#TODO? /builds/libretro/ export-ignore

#TODO: Android is usually built from git, but maybe keep it (e.g. f-droid)?
/builds/android/ export-ignore
/builds/flatpak/ export-ignore
/builds/snap/ export-ignore
/builds/release-helper.sh export-ignore
/builds/make-dist.sh export-ignore
