/bin/
/doc/
/lib/liblcf
/lib/shinonome/.deps/
/lib/shinonome/.dirstamp
/lib/shinonome/*.o
CMakeCache.txt
CMakeFiles/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
Makefile
Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/easyrpg-player
autom4te.cache/
stamp-h1
*~
easyrpg_log.txt
/lib/TestGame
resources/player.aps
/builds/archive
/builds/*/toolchain.cmake
/builds/android/android
/builds/cmake/libEasyRPG_Player_Static.a
/builds/cmake/libsdl_test_main.a
/builds/vs20*/Release*
/builds/vs20*/Debug*
/builds/vs20*/Release*
/builds/vs20*/*.suo
/builds/vs20*/*.user
/builds/vs20*/*.*sdf
/builds/vs20*/*.ncb
/builds/vs20*/*.psess
/builds/vs20*/*.vsp
/builds/vs20*/ipch/
/builds/vs20*/x64/
/builds/psp/PARAM.SFO
/builds/psp/EBOOT.PBP
/builds/psp/EasyRPG.elf
/builds/wii/obj
/builds/wii/*.elf
/builds/wii/*.dol
compile
