/CMakeFiles/
/autom4te.cache/
/bin/
/doc/
/easyrpg-player-*/
/lib/liblcf/
/lib/TestGame/
/lib/RTP/
/.libs/
.deps/
CMakeCache.txt
Makefile
Makefile.in
Testing/
aclocal.m4
config.h
config.h.in
config.status
configure
depcomp
easyrpg_log.txt
easyrpg-player
easyrpg-player-*.tar.gz
install-sh
libtool
missing
stamp-h1
test-driver
.dirstamp
*.a
*.la
*.elf
/*.log
*.o
*.lo
/*.trs
*~
*.orig
/resources/Doxyfile
/resources/easyrpg-player.6
/resources/player.aps
/builds/archive
/builds/autoconf/
/builds/*/toolchain.cmake
/builds/android/android
/builds/android/local.properties
/builds/android/assets/
/builds/vs20*/Debug/
/builds/vs20*/Release/
/builds/vs20*/*.*sdf
/builds/vs20*/*.ncb
/builds/vs20*/*.psess
/builds/vs20*/*.suo
/builds/vs20*/*.user
/builds/vs20*/*.vsp*
/builds/vs20*/*.pdb
/builds/vs20*/*.lib
/builds/vs20*/.vs/
/builds/vs20*/ipch/
/builds/vs20*/Player*/x86/
/builds/vs20*/Player*/x64/
/builds/vs20*/Player*/ARM/
/builds/psp/PARAM.SFO
/builds/psp/EBOOT.PBP
/builds/wii/obj
/builds/wii/*.dol
/output
/utils
.buildconfig
compile
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
cmake_install.cmake
liblcf.pc
