language: cpp
compiler:
  - gcc
  - clang
before_script:
  - sudo add-apt-repository -y ppa:dns/gnu
  - sudo add-apt-repository -y ppa:cjohnston/ci
  - sudo add-apt-repository -y ppa:zoogie/sdl2-snapshots
  - sudo apt-get update -qq
  - sudo apt-get install -qq libexpat1-dev autoconf automake libboost1.48-dev libsdl2-dev libsdl2-mixer-dev libpixman-1-dev
  - git clone https://github.com/EasyRPG/liblcf
  - cd liblcf
  - autoreconf -i
  - ./configure --prefix $PWD/build
  - make install -j4
  - cd ..
  - autoreconf -i
  - export PKG_CONFIG_PATH=$PWD/liblcf/build/lib/pkgconfig
  - ./configure CXXFLAGS="-O0 -Wall -Wextra -ansi -pedantic"
script: make distcheck -j2
