23456 ICON "player.ico"
#if defined(__MINGW32__) || defined(__CYGWIN__)
1 24 "player.xml"
#endif
1 VERSIONINFO
FILEVERSION 0,5,0,0
PRODUCTVERSION 0,5,0,0
FILETYPE 0x00000001L
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004E4"
		{
			VALUE "Comments", "https://easyrpg.org"
			VALUE "CompanyName", "EasyRPG Project"
			VALUE "FileVersion", "0.5.0.0"
			VALUE "FileDescription", "EasyRPG Player"
			VALUE "InternalName", "easyrpg-player"
			VALUE "LegalCopyright", "2005-2016 EasyRPG Project"
			VALUE "OriginalFilename", "Player.exe"
			VALUE "ProductName", "EasyRPG Player"
			VALUE "ProductVersion", "0.5.0.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000, 1252
	}
}
