/archive

/*/toolchain.cmake

/android/android

/mingw/mingw
/mingw/Player.exe

/cmake/libEasyRPG_Player_Static.a
/cmake/libsdl_test_main.a
/vs20*/Release*
/vs20*/Debug*
/vs20*/Release*
/vs20*/*.suo
/vs20*/*.user
/vs20*/*.*sdf
/vs20*/*.ncb
/vs20*/*.psess
/vs20*/*.vsp
/vs20*/ipch/
/vs20*/x64/
/psp/PARAM.SFO
/psp/EBOOT.PBP
/psp/EasyRPG.elf
/wii/obj
/wii/*.elf
/wii/*.dol
