<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.easyrpg.player"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23"/>

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Startup Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- GameBrowsers' Activity -->
        <activity
            android:name=".game_browser.GameBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Player's Activity -->
        <activity
            android:name=".player.EasyRpgPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"/>

        <!-- Settings' Activity -->
        <activity
            android:name=".settings.SettingsMainActivity"
            android:label="@string/settings"
            android:parentActivityName=".game_browser.GameBrowserActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game_browser.GameBrowserActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsVideoActivity"
            android:label="@string/video"
            android:parentActivityName=".settings.SettingsMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsMainActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsAudioActivity"
            android:label="@string/audio"
            android:parentActivityName=".settings.SettingsMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsMainActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsGamesFoldersActivity"
            android:label="@string/game_folders"
            android:parentActivityName=".settings.SettingsMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsMainActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsInputActivity"
            android:label="@string/input"
            android:parentActivityName=".settings.SettingsMainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsMainActivity"/>
        </activity>

        <activity
            android:name=".button_mapping.ButtonMappingActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
    </application>
</manifest>