<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleExecutable</key>
    <string>Player</string>

    <key>CFBundleGetInfoString</key>
    <string>http://easyrpg.sourceforge.net</string>

    <key>CFBundleIconFile</key>
    <string>Player.icns</string>

    <key>CFBundleIdentifier</key>
    <string>com.easyrpg.player</string>

    <key>CFBundleSignature</key>
    <string>RPGP</string>

    <key>CFBundleVersion</key>
    <string>SVN</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>SVN</string>

</dict>
</plist>
