name: "Label Pull Requests"
on:
  pull_request_target:
    types: [opened, ready_for_review]

jobs:
  update:
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
           # pull_request_target is run under forks, use main repo source
           fetch-depth: 0
           repository: EasyRPG/Player
           ref: master

      - name: Update labels
        uses: actions/labeler@v5
        with:
          sync-labels: true
          dot: true
